@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
 background: #D7D7D7;
}

#header {
  height: 100vh;
  background: linear-gradient(110deg, #D7D7D7 45%, #99d7cea5 45.2%);
 
    background-size: 200% auto;
    animation: gradientAnimation 10s ease infinite;
  
}


/* Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
